{% load static %}

<div class="question comment {% if comment.is_correct %} bold {% endif %}">
    <div class="row">
        <div class="col-2">
            {% if comment.author.avatar %}
                <img class="question-image" src="{{ comment.author.avatar.url }}" alt=""/>
            {% else %}
                <img class="question-image" src="{% get_media_prefix %}css_ava.svg" alt=""/>
            {% endif %}
        </div>
        <div class="col-10">
            <div class="question-text">
                {{ comment.content }}
            </div>
        </div>
        <div class="g-4 d-flex">
            <div class="col-2 comment-like-section">
                {% if comment.get_likes_count > 0 %}
                    <span class="mx-1 text-success">{{ comment.get_likes_count }}</span>
                {% else %}
                    <span class="mx-1">{{ comment.get_likes_count }}</span>
                {% endif %}
                <button type="button" data-id="{{ comment.id }}" class="btn p-0">
                    <i class="fa fa-thumbs-up"></i>
                </button>
            </div>
            <div class="col-10">
                <div class="form-check checkbox-section">
                    <input class="form-check-input" data-id="{{ comment.id }}" type="checkbox" value="" {% if comment.is_correct %}checked{% endif %}>
                    <label class="form-check-label">Correct!</label>
                </div>
            </div>
        </div>
    </div>
</div>
