{% extends 'layouts/base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block auth %}
    {% if user.is_authenticated %}
        {% include 'components/auth_on_nav.html' %}
    {% else %}
        {% include 'components/signup_on_nav.html' %}
    {% endif %}
{% endblock auth %}

{% block content %}
    <div class="question-primary">
        <div class="row">
            <div class="row">
                <div class="col-3">
                    {% if question.author.avatar %}
                        <img class="question-image-primary" src="{{ question.author.avatar.url }}" alt=""/>
                    {% else %}
                        <img class="question-image-primary" src="{% get_media_prefix %}css_ava.svg" alt=""/>
                    {% endif %}
                </div>
                <div class="col-9">
                    <div class="question-title"> {{ question.title }} </div>
                    <div class="question-text">
                        {{ question.content }}
                    </div>
                </div>
                <div class="g-4 d-flex">
                    <div class="col-3 question-like-section">
                        {% if question.get_likes_count > 0 %}
                            <span class="mx-1 text-success">{{ question.get_likes_count }}</span>
                        {% else %}
                            <span class="mx-1">{{ question.get_likes_count }}</span>
                        {% endif %}
                        <button type="button" data-id="{{ question.id }}" class="btn p-0">
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                    </div>
                    <div class="col-7 fs-5 program-lang">
                        Tags: {% for tag in question.tags.all %}
                        <a class="badge bg-dark item" id="tag-{{ forloop.counter }}"
                           href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <hr class="bg-dark border-2 border-top border-dark g-3"/>
            <div id="comments-section">
                {% for comment in comments %}
                    {% include 'components/comment-item.html' %}
                {% endfor %}
            </div>
        </div>
        <hr class="bg-dark border-2 border-top border-dark g-3"/>
    </div>
    {% include 'components/paginator.html' %}
    <form id="comment-form" data-url="{% url 'create_comment' question_id=question.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <button id="comment-form" type="submit" class="btn btn-primary col-2 g-3 mt-3">Answer</button>
    </form>
    <script src="https://unpkg.com/centrifuge@5.0.1/dist/centrifuge.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            const centrifuge = new Centrifuge("{{ centrifugo.ws_url }}", {
                token: "{{ centrifugo.token }}"
            });

            centrifuge.on('connecting', function (ctx) {
                console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
            }).on('connected', function (ctx) {
                console.log(`connected over ${ctx.transport}`);
            }).on('disconnected', function (ctx) {
                console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
            }).connect();

            const questionChannel = centrifuge.newSubscription("{{ centrifugo.channel }}");
            questionChannel.on('publication', function (ctx) {
                const newCommentData = typeof ctx.data === 'string' ? JSON.parse(ctx.data) : ctx.data;
                handleNewComment(newCommentData);
            }).subscribe();

            function handleNewComment(newCommentData) {
                $('#comments-section').append(newCommentData.html);

                const newCommentCheckbox = $('#comments-section').find('.checkbox-section input[type="checkbox"]').last()[0];
                const newCommentId = newCommentCheckbox.dataset.id;

                const newCommentFormData = new FormData();
                newCommentFormData.append('comment_id', newCommentId);

                const newCommentCheckAuthorRequest = new Request('/check_author/', {
                    method: 'POST',
                    body: newCommentFormData,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                });

                fetch(newCommentCheckAuthorRequest)
                    .then((response) => response.json())
                    .then((data) => {
                        newCommentCheckbox.disabled = data.author !== data.user;
                    });
            }
        });


    </script>
{% endblock %}
